<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <title>Microilience</title>
</head>
<body class="main-page">
    <header class="main-header">
        <h1 class="logo">
            Microilience
        </h1>
    </header>

    <main class="main-main">
        <section class="slogan">
            <h2>
                placeholder slogan
            </h2>
            <p>
                placeholder text
            </p>
        </section>

        <section class="action">
            <p class="action-desc">
                placeholder text
            </p>
            <div class="action-buttons">
                <a href="#" class="btn-login">
                    Sign Up / Log In
                </a>
                <a href="survey.html" class="btn-survey">
                    Take the Survey !
                </a>
            </div>
        </section>
    </main>
</body>
</html>
